/*!
 * Basic styling on the library page
 */

 #animationelement {
 	background: url("http://i.imgur.com/mjXfKJP.png") no-repeat center;
 	background-size: contain;
 	height: 190px;
 	width: 200px;
 	margin-left: auto;
 	margin-right: auto;
 }
 .numberimage {
 	max-height: 80px;
 	max-width: 80px;
 }
 .btn-large {
 	text-transform: none !important;
 }

code {
	display: block;
	background-color: #E8E8E8;
	color: #888888;
	border-radius: 8px;
	width: 96%;
	padding: 2%;
}

 .invisible {
 	visibility: hidden;
 }
 @media only screen and (min-width: 1600px) {
.toppadding {
        padding-top: 2rem;
}
}